<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Valor 1</ion-label>
  </ion-item>

  <ion-item>
    <ion-input type="number" value="333"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Valor 2</ion-label>
  </ion-item>

  <ion-item>
    <ion-input type="number" value="333"></ion-input>
  </ion-item>

  <ion-item>
  <div class="divisao">
    <ion-button>+</ion-button>
  </div>
  <div class="divisao">
    <ion-button>-</ion-button>
  </div>
  <div class="divisao">
    <ion-button>*</ion-button>
  </div>
  <div class="divisao">
    <ion-button>/</ion-button>
  </div>
  </ion-item>
  <ion-item>
  <div class="divisao2">
    <ion-button>MAIOR</ion-button>
  </div>
  <div class="divisao2">
    <ion-button>MENOR</ion-button>
  </div>
  </ion-item>

  <ion-item>
    <ion-label>Resultado:</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Operação:</ion-label>
  </ion-item>

</ion-content>
